---
const { class: className, id: idName } = Astro.props;
const dynamicClasses = ['section', className];
---

<section
  class:list={[dynamicClasses]}
  id={idName}
>
  <slot />
</section>

<style>
  .section {
    @apply py-24 
    max-w-7xl 
    flex-[1_0_auto] 
    overflow-hidden
    px-5;
  }
  .is-full-width {
    @apply max-w-full
  }

  @media (min-width: 768px) {
    .section {
      @apply py-36 px-0
    }
  }
</style>